extends layout
block content
    h1= specificGame.name
    div
        //- img(class="game-image" src= game.image alt="")
        p= specificGame.description
    ul
        li= specificGame.platform
        li= specificGame.publisher
    a(href=`/games/${specificGame.id}/reviews` id='reviews-link') Reviews
    block moreContent
