extends layout
block content
    div.contentMain
        h1= specificGame.name
        img(src=specificGame.image alt='Title cover of game')
        div.contentMisc
            p= specificGame.description
            ul
                li= specificGame.platform
                li= specificGame.publisher
        a(href=`/games/${specificGame.id}/reviews` id='reviews-link') Reviews
    block moreContent
