extends specific-game
append head
    script(src="/javascripts/specific-game-review.js" type="module")
append addReviewButton
    a.reviews-link(href=`/games/${specificGame.id}/reviews/new`) Add a Review
block moreContent
    h2 Reviews
    each review in specificGame.Reviews
        div.contentMain
            h3 #{review.title} by #{review.User.username}
            p Rating: #{review.rating}
            p= review.content
            if authenticated
                if user.id == review.userId
                    button(class="reviewDelete" id=review.id) Delete
                    a(href=`/reviews/${review.id}/edit`) Edit
